
body * {

    font-family: 'Open Sans', sans-serif;
    font-weight: 100!important;

}

a {

    color: #ccc;

    text-decoration: none;

}

a:hover {

    color: #000;

}

.splitlayout.open-right .page-right,

.splitlayout.open-left .page-left {

    position: fixed;

    height: 100%;

}

.page-inner {

    height: 100%;

}

.open-left .side,

.open-right .side {

    position: fixed;

}

/*

.fs-form-wrap label:not(.multiple) {

    font-size: 2.2em;

    font-weight: 100;

}
*/

header {

    background: rgba(255, 255, 255, 1);

    display: block;

    height: 60px;

    width: 100%;

    top: 0;

    position: fixed;

    z-index: 300;

    -moz-box-shadow: 0px 1px 5px #ddd;

    -webkit-box-shadow: 0px 1px 5px #ddd;

    box-shadow: 0px 1px 5px #ddd;

}

header ul li {

    float: right;

    list-style: none;

    display: inline-block;

}

header a {

    text-align: center;

    line-height: 20px;

    display: block;

    padding: 8px 14px;

    margin: 10px 3px;

}

header a::before,

header a::after {

    display: inline-block;

    opacity: 0;

    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;

    -moz-transition: -moz-transform 0.3s, opacity 0.2s;

    transition: transform 0.3s, opacity 0.2s;

}

header a::before {

    margin-right: 10px;

    content: '[';

    -webkit-transform: translateX(20px);

    -moz-transform: translateX(20px);

    transform: translateX(20px);

}

header a::after {

    margin-left: 10px;

    content: ']';

    -webkit-transform: translateX(-20px);

    -moz-transform: translateX(-20px);

    transform: translateX(-20px);

}

.navbar-nav>.active>a{
 background: transparent!important;   
}


header a:hover::before,

header a:hover::after,

header a:focus::before,

header a:focus::after,

a.active::before,a.active::after,
.navbar-nav>.active>a::before,
.navbar-nav>.active>a::after


{

    opacity: 1;

    -webkit-transform: translateX(0px);

    -moz-transform: translateX(0px);

    transform: translateX(0px);

}

.intro-content button,.custombtn {

    background: white;

    margin: 1em 3em 0;

    transition: all 0.5s ease;

    padding: 10px 40px;

    font-size: 1em;
    width: 40%;

}

.property button,.custombtn {

    color: rgba(0, 168, 198, 1);

    border: 1px solid rgba(0, 168, 198, 1);

}

.property button:hover,.custombtn:hover {

    border: 1px solid white;

    background: rgba(0, 168, 198, 1);

    color: white;

}

.serviceworker button {

    color: rgba(64, 192, 203, 1);

    border: 1px solid rgba(64, 192, 203, 1);

}

.serviceworker button:hover {

    border: 1px solid white;

    background: rgba(64, 192, 203, 1);

    color: white;

}

.trade {

    position: relative;

    background: #f8f8f8;

    top: 0px;

    margin: 0;

    padding: 25px 0 0;

}

.center-block-new {

    display: block!important;

    margin-left: auto!important;

    margin-right: auto!important;

    float: none;

    margin: 20px auto;

}

.navbar-toggle {

    margin-top: 18px;

}

.servicetabs #propertytab a,#fs-form-wrap-left .fs-submit {

    background: rgba(0, 168, 198, 0.4);

    color: white;

    border: 1px solid rgba(0, 168, 198, 0.2);

    transition: all 0.5s ease;

}

.servicetabs #propertytab a:hover,

.servicetabs #propertytab.active>a,

.servicetabs #propertytab.active>a:hover,

.servicetabs #propertytab.active>a:focus {

    background: rgba(0, 168, 198, 1);

}

.servicetabs #servicetab a {

    background: rgba(64, 192, 203, 0.4);

    color: white;

    border: 1px solid rgba(64, 192, 203, 0.2);

    transition: all 0.5s ease;

}

.servicetabs #servicetab a:hover,

.servicetabs #servicetab.active>a,

.servicetabs #servicetab.active>a:hover,

.servicetabs #servicetab.active>a:focus {

    background: rgba(64, 192, 203, 1);

    color: white;

}



.process{
    background: #fff;
/*    outline: 1px solid whitesmoke;*/
    height: 500px;
    padding: 10px 0px 40px;
    
}
.newsletter:before {
    content: "";
     width: 100%;
        height: 200px;
    position: absolute;
    display: block;
    padding: 30px;
            background: rgba(64, 192, 203, 0.8);

 }

.seperator{
 margin: 80px auto 20px;   
    border-top:1px solid grey;
    width: 40%;
}

.newsletter {
    background-image: url(../img/inside.jpg);
    background-position: center;
    height: 200px;
    margin-bottom: 0!important;
}


.newsletter h3{
    color: white;
 text-align: center;
}

.newsletter h3:first-child{
 padding-top:40px;   
}
.contact {
    height: 400px;
}

.modal-header{
 border-bottom: none!important;   
}

.modal-content{
border-radius: 0;
}

.about h3{
 line-height: 2;   

}

.othercontent *{
    color: grey
}