
body {
font-family: 'Open Sans', sans-serif;}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.splitlayout.open-right .page-right, .splitlayout.open-left .page-left {
position: fixed;
overflow: scroll;
height: 100%;
}
.page-inner {
height: 100%;
}


.open-left .side, .open-right .side {
position: fixed;
}

.fs-form-wrap label:not(.multiple){
    font-size: 2.2em;
    font-weight: 100;
}
